[tool.black]
line-length = 88

[tool.ruff]
line-length = 88
extend-select = ["I"]  # auto import sorting (replaces isort)
exclude = ["node_modules", "dist", ".venv", "migrations"]

[tool.commitizen]
name = "cz_conventional_commits"
version = "0.1.0"
tag_format = "v$version"
